table{
    padding: 20px;
}

footer{
    border: dashed;
    border-color: green;
    border-width: 5px;
}

.pfooter{
    padding-bottom: 75px;
    text-align: left;
}
.image1board{
    float: right;
    margin: 5px;
    border: solid;
    border-width: 10px;
    border-color: green;
}
.image1{
    border: solid;
    border-width: 3px;
    border-color: blue;
    width: 150px;
}

.image2{
    width: 200px;
    height: 200px;
    float: right;
    border: solid;
    border-color: red;
    border-width: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.tableDiv{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    min-height: 50%;
}
.column-right{
    background-color: orange;
    color: white;
    width: 150px;
    vertical-align: top;
    
}
.column-center{
    border: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
.column-left{
    background-color: green;
    color: white;
    width: 150px;
    vertical-align: top;
}

.title-left{
    text-align: center;
}

.centerDiv{
    margin-right: 5px;
    margin-left: 5px;
    border: solid;
    border-color: black;
    border-width: 3px;
    min-height: 50%;
}
.pad{
    padding: 10px;
}

.random-color{
    background-color: transparent;
    vertical-align: top;
    width: 150px;
}

.toggleButton{
    width: 100%;
}

.dark{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    min-height: 50%;
    background-color: grey;
}
